/* ==============================
   PLUGINS & THIRD PARTY STYLES
   @mixin ============================= */
/* ==============================
   BASE STYLES
   @mixin ============================= */
/* ==============================
 *             Common
 * ============================== */
body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #232323;
  background-color: #f5f6f8;
}

img {
  height: auto;
}

a {
  color: #232323;
}

a:active {
  color: #232323;
}

a:visited {
  color: #232323;
}

a:hover {
  color: #232323;
}

.uppercase {
  text-transform: uppercase;
}

.outline {
  outline: 0;
}

/* ==============================
   LAYOUT STYLES
   @mixin ============================= */
/* ==============================
 *        BLOCK 1 - Header
 * ============================== */
.block_1-header {
  background-image: url("../img/Block 1 - Header/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 897px;
}

.header__menu-with-logo {
  max-width: 960px;
  margin: auto;
  padding-top: 47px;
}

.header__title-1 {
  font-size: 6em;
  letter-spacing: 2.5px;
  line-height: 80px;
  color: #000000;
  font-weight: 100;
  max-width: 975px;
  margin-top: 195px;
}

.header__title-2 {
  font-weight: 300;
  letter-spacing: 0.5px;
  max-width: 975px;
  margin-top: 12px;
}

.header__title-2 div {
  padding: 0px 0px 0px 4px;
}

/* =========== Features ============== */
.header__features {
  max-width: 980px;
  margin: 420px auto auto auto;
  padding-bottom: 122px;
}

.header__features img {
  -ms-flex-item-align: center;
      align-self: center;
}

/* =========== Mail ============== */
.header__features__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__features__mail__title {
  font-size: 1.1666666667em;
  letter-spacing: 0.7px;
  margin-top: 31px;
}

.header__features__mail__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
  margin-top: 22px;
}

/* =========== Edit ============== */
.header__features__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__features__edit__title {
  font-size: 1.1666666667em;
  letter-spacing: 0.7px;
  margin-top: 17px;
}

.header__features__edit__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
  margin-top: 22px;
}

.header__features__edit img {
  margin-top: -9px;
  margin-bottom: 8px;
}

/* =========== Bage =============== */
.header__features__bage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__features__bage__title {
  font-size: 1.1666666667em;
  letter-spacing: 0.7px;
  margin-top: 42px;
}

.header__features__bage__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
  margin-top: 30px;
}

.badge-new {
  line-height: 1px;
  font-size: 0.8333333333em;
  font-weight: 400;
  background-color: #26e6e6;
  color: #fff;
  border-radius: 14px;
  padding: 7px 11px;
  line-height: 23px;
}

.header__features__link {
  margin-top: 18px;
}

/* ==============================
 *        BLOCK 2 - iPhone
 * ============================== */
.block_2-iphone {
  background-color: #26e6e6;
  background-image: url("../img/Block 2 - iPhone/Iphone and buttons.png");
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 900px;
}

/* =========== Window ============ */
.block_2-iphone__window {
  position: absolute;
  top: 118px;
  right: 240px;
  width: 384px;
  height: 674px;
  border-radius: 2px;
  background-color: #fff;
}

.block_2-iphone__window a {
  background-color: #000;
  color: #fffefe;
  line-height: 60px;
  letter-spacing: 0.6px;
  border-radius: 0 0 2px 2px;
}

.block_2-iphone__window__website {
  margin: auto auto 50px auto;
}

.block_2-iphone__window__business {
  margin: 39px auto 52px auto;
}

.block_2-iphone__window__artist {
  margin-bottom: 56px;
}

.block_2-iphone__window__website .block_2-iphone__window__img {
  margin-top: -10px;
}

.block_2-iphone__window__business .block_2-iphone__window__img {
  margin-top: -15px;
}

.block_2-iphone__window__artist .block_2-iphone__window__img {
  margin-top: -8px;
}

.block_2-iphone__window__website, .block_2-iphone__window__business, .block_2-iphone__window__artist {
  margin-left: 34px;
}

.block_2-iphone__window__title {
  font-size: 1.5em;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 15px;
}

.block_2-iphone__window__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
}

.block_2-iphone__window__title-and-text {
  max-width: 266px;
  margin-left: 24px;
}

/* ==============================
 *        BLOCK 3 - Text
 * ============================== */
.block_3-text {
  padding-top: 120px;
  padding-bottom: 46px;
  background-color: #fff;
}

.block_3-text span {
  font-size: 6em;
  font-weight: 100;
  line-height: 59px;
  margin-bottom: 55px;
  display: block;
}

.block_3-text > div > div :nth-child(2) {
  font-size: 1.5em;
  line-height: 26px;
  font-weight: 300;
}

/* ==============================
 *        BLOCK 4 - Features
 * ============================== */
.block_4-features {
  padding-top: 109px;
  padding-bottom: 102px;
}

.block_4-features__1 {
  margin-left: 70px;
}

.block_4-features__2 {
  margin-left: 65px;
}

.block_4-features__3 {
  margin-left: 25px;
}

.block_4-features div div div {
  text-align: left;
  padding: 0;
  width: 231px;
}

.block_4-features a {
  letter-spacing: 0.6px;
}

.block_4-features__2 a, .block_4-features__3 a {
  margin-top: 38px;
}

.block_4-features__title {
  font-size: 1.3333333333em;
}

.block_4-features__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
}

/* ==============================
 *        BLOCK 5 - iPad
 * ============================== */
.block_5-ipad {
  width: 1600px;
  height: 1006px;
}

.block_5-ipad__window {
  background-color: #000;
  height: 750px;
  width: 1370px;
  margin-left: -135px;
  padding-left: 118px;
  padding-top: 118px;
}

.block_5-ipad__title {
  color: #fff;
  font-weight: 100;
  font-size: 6em;
  line-height: 80px;
}

.block_5-ipad__text {
  opacity: 0.5;
  color: #fff;
  font-size: 1.1666666667em;
  line-height: 22px;
  margin-top: 40px;
  margin-left: 5px;
}

.block_5-ipad a {
  margin-top: 164px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000;
  line-height: 50px;
  background-color: #26e6e6;
  border-radius: 25px;
  width: 180px;
  margin-left: 13px;
}

.block_5-ipad img {
  position: absolute;
  top: 265px;
  left: 478px;
}

/* ==============================
 *  BLOCK 6 - Platform fearutes
 * ============================== */
.block_6-platform {
  padding-top: 52px;
  padding-bottom: 73px;
}

/* ========== Title ==========*/
.block_6-platform__main-title-title {
  letter-spacing: 0.6px;
  color: #000;
  margin-bottom: 30px;
}

.block_6-platform__main-title-text {
  font-size: 1.5em;
  line-height: 26px;
  margin-bottom: 78px;
}

/* ========== Features ==========*/
.block_6-platform__title {
  font-size: 1.5em;
  line-height: 24px;
  margin-top: -5px;
}

.block_6-platform__text {
  font-size: 1.1666666667em;
  opacity: 0.5;
  line-height: 22px;
  margin-top: -6px;
  margin-bottom: 25px;
}

.block_6-platform__title-and-text__dashboard, .block_6-platform__title-and-text__customize {
  padding-left: 27px;
}

.block_6-platform__title-and-text__discussions, .block_6-platform__title-and-text__ecommerce {
  padding-left: 22px;
}

.block_6-platform__title-and-text__mobile, .block_6-platform__title-and-text__statistics {
  padding-left: 15px;
}

.block_6-platform__dashboard {
  padding-left: 90px;
}

.block_6-platform__discussions {
  padding-left: 60px;
}

.block_6-platform__mobile {
  padding-left: 14px;
}

.block_6-platform__customize {
  padding-left: 90px;
}

.block_6-platform__ecommerce {
  padding-left: 56px;
}

.block_6-platform__ecommerce img {
  margin-top: 4px;
  margin-right: 20px;
}

.block_6-platform__statistics {
  padding-left: 14px;
}

.block_6-platform__row-1 {
  margin-bottom: 58px;
}

/* ==============================
 *        BLOCK 7 - Quotes
 * ============================== */
.block_7-quotes {
  height: 385px;
  background-color: #f5f6f8;
}

.block_7-quotes .gallery-cell {
  height: 385px;
  width: 50%;
  margin-right: 26px;
  background-color: #fff;
}

.block_7-quotes .gallery-cell :nth-child(1) {
  position: absolute;
  top: 41px;
  left: 38px;
}

.block_7-quotes .gallery-cell :nth-child(4) {
  position: absolute;
  bottom: 41px;
  right: 38px;
}

.block_7-quotes .gallery-cell :nth-child(2) {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 3.5em;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 25px;
}

.block_7-quotes .gallery-cell :nth-child(3) {
  color: #000;
  letter-spacing: 0.6px;
  font-weight: 600;
}

.flickity-page-dots {
  display: none;
}

.flickity-button {
  display: none;
}

/* ==============================
 *        BLOCK 8 - DIY
 * ============================== */
.block_8-DIY {
  padding-top: 93px;
  height: 1410px;
  max-width: 1600px;
}

.block_8-DIY span {
  color: #000;
  font-size: 2.1666666667em;
  font-weight: 900;
  margin-top: -10px;
  margin-left: 60px;
  display: block;
}

.block_8-DIY a {
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 42px;
  background-color: #26e6e6;
  border-radius: 2px;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.block_8-DIY__wrapper__overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block_8-DIY__wrapper:hover a {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block_8-DIY__wrapper:hover .block_8-DIY__wrapper__overlay {
  visibility: visible;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.wrapper-1 {
  top: 15px;
  left: 270px;
  background-image: url("../img/Block 8 - DIY/DIY 1.jpg");
  width: 304px;
  height: 420px;
}

.wrapper-2 {
  top: 55px;
  right: 270px;
  background-image: url("../img/Block 8 - DIY/DIY 2.jpg");
  width: 632px;
  height: 420px;
}

.wrapper-3 {
  top: 300px;
  right: 0;
  background-image: url("../img/Block 8 - DIY/DIY 3.jpg");
  width: 174px;
  height: 420px;
}

.wrapper-4 {
  top: 520px;
  left: 320px;
  background-image: url("../img/Block 8 - DIY/DIY 4.jpg");
  width: 920px;
  height: 200px;
}

.wrapper-5 {
  top: 628px;
  left: 0;
  background-image: url("../img/Block 8 - DIY/DIY 5.jpg");
  width: 209px;
  height: 420px;
}

.wrapper-6 {
  top: 775px;
  left: 290px;
  background-image: url("../img/Block 8 - DIY/DIY 6.jpg");
  width: 468px;
  height: 420px;
}

.wrapper-7 {
  top: 795px;
  right: 210px;
  background-image: url("../img/Block 8 - DIY/DIY 7.jpg");
  width: 468px;
  height: 420px;
}

/* ==============================
 *        BLOCK 9 - Join
 * ============================== */
.block_9-join {
  height: 240px;
  background-color: #fff;
  color: #000;
  font-size: 6em;
  font-weight: 100;
}

.block_9-join p {
  margin-top: 13px;
  margin-left: 12px;
}

/* ==============================
 *        BLOCK 10 - Price
 * ============================== */
.block_10-price {
  max-width: 912px;
  padding-top: 50px;
  padding-bottom: 155px;
}

.block_10-price__block-1 {
  margin-left: -10px;
}

.block_10-price__block-2 {
  margin-left: 6px;
}

.block_10-price__block-3 {
  margin-left: 20px;
}

.block_10-price__block-1, .block_10-price__block-2, .block_10-price__block-3 {
  width: 304px;
  height: 432px;
  padding-top: 28px;
}

.block_10-price__overlay {
  position: absolute;
  width: 304px;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price div div div:hover .block_10-price__overlay {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price div div div:hover .block_10-price__plan {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price div div div:hover .block_10-price__price {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price div div div:hover .block_10-price__text {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price div div div:hover .block_10-price__link {
  background-color: #26e6e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price__plan {
  letter-spacing: 0.6px;
  color: #000;
  font-weight: 600;
  margin-bottom: 28px;
  margin-top: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price__price {
  color: #000;
  letter-spacing: 4.17px;
  font-size: 4.1666666667em;
  font-weight: 800;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price__text {
  font-size: 1.1666666667em;
  line-height: 22px;
  color: #000;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_10-price a {
  letter-spacing: 0.6px;
  border-radius: 25px;
  line-height: 50px;
  display: inline-block;
  padding: 0px 46px;
  margin-top: 22px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ==============================
 *       BLOCK 11 - Footer
 * ============================== */
.block_11-footer__wrapper {
  max-width: 1600px;
  height: 878px;
}

.block_11-footer__bg {
  position: absolute;
  top: 7449px;
  z-index: 1;
}

.block_11-footer {
  max-width: 986px;
}

.block_11-footer__title {
  color: #000000;
  font-weight: 900;
  font-size: 7.5em;
  line-height: 120px;
  text-align: right;
  letter-spacing: 1px;
  margin-bottom: 228px;
}

.block_11-footer__window {
  background-color: #000;
  border-radius: 2px;
  max-width: 960px;
  margin-left: -3px;
  margin-bottom: 128px;
  position: relative;
  z-index: 2;
}

.block_11-footer__link-column-1 a, .block_11-footer__link-column-2 a, .block_11-footer__link-column-3 a {
  display: block;
  color: #fff;
  letter-spacing: 1.2px;
  line-height: 40px;
}

.block_11-footer__triangle {
  margin-top: 46px;
  margin-left: 39px;
}

.block_11-footer__link-column-1 {
  margin-left: 35px;
  margin-top: 39px;
}

.block_11-footer__link-column-2 {
  margin-left: 39px;
  margin-top: 39px;
}

.block_11-footer__link-column-3 {
  margin-left: 58px;
  margin-top: 39px;
}

.block_11-footer__made-by {
  margin-top: 37px;
  margin-right: 35px;
  color: #fff;
  opacity: 0.2;
  letter-spacing: 1.1px;
  font-size: 0.9166666667em;
}

.block_11-footer__logo {
  margin-top: -6px;
  margin-bottom: 75px;
  margin-right: 35px;
}

a.block_11-footer__website {
  margin-right: 40px;
  letter-spacing: 0.12px;
  color: #fff;
  opacity: 0.2;
}

.block_11-footer__social {
  margin-left: 80px;
  margin-top: 17px;
  margin-bottom: 48px;
  opacity: 0.2;
  width: 173px;
}

/* ==============================
   MODULE STYLES
   @mixin ============================= */
/* ==============================
 *             MENU
 * ============================== */
.menu a:hover {
  color: #fff;
  background: #000;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu a {
  color: #afb0b1;
  text-align: center;
  padding: 16px 19px;
  line-height: 12px;
  margin: 0px -5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  color: #000;
}

.dropdown-menu {
  background-color: #000;
  padding: 0px;
  border: 0;
  margin: 1px 0px 0px 0px;
  border-radius: 0;
}

.dropdown-menu a {
  text-align: left;
  padding: 12.5px 69px 12.5px 22px;
  line-height: 12px;
  margin: 0px 0px 0px 0px;
}

.dropdown-menu .aboutUs {
  padding: 20px 69px 12.5px 22px;
}

.dropdown-menu .FAQ {
  padding: 12.5px 69px 20px 22px;
}

a.nav-link.dropdown-toggle:focus {
  color: #fff;
  background: #000;
  border-radius: 2px;
}

.wrapperForMenuIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuIcon {
  margin-left: 39px;
}

.menuIcon .line1, .line2, .line3 {
  width: 19px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
}

.wrapperForDropdomnUpArrow {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dropdownUpArrow {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #000;
  margin-right: 44px;
}

a.startAprojectMenuButton {
  margin-left: 13.5px;
}

a.homeMenuButton {
  padding-left: 0;
}
