/* ==============================
 *       BLOCK 11 - Footer
 * ============================== */


.block_11-footer__wrapper
	height: 878px
	position: relative

.block_11-footer__bg
	position: absolute
 bottom: 0
	z-index: 1
	width: 100%
	height: 100%

.block_11-footer
	max-width: 986px

.block_11-footer__title
	color: #000000
	font-weight: 900
	font-size: 7.5em
	line-height: 120px
	text-align: right
	letter-spacing: 1px
	margin-bottom: 228px

.block_11-footer__window
	background-color: #000
	border-radius: 2px
	max-width: 962px
	margin-left: -3px
	position: relative
	z-index: 2


.block_11-footer__link-column-1 a, .block_11-footer__link-column-2 a, .block_11-footer__link-column-3 a
	display: block
	color: #fff
	letter-spacing: 1.2px
	line-height: 40px





.block_11-footer__triangle
 margin-top: 46px
	margin-left: 39px

.block_11-footer__link-column-1
	margin-left: 35px
	margin-top: 39px

.block_11-footer__link-column-2
	margin-left: 39px
	margin-top: 39px

.block_11-footer__link-column-3
	margin-left: 58px
	margin-top: 39px




.block_11-footer__made-by
	margin-top: 37px
	margin-right: 35px
	color: #fff
	opacity: 0.2
	letter-spacing: 1.1px
	font-size: 0.9166666667em

.block_11-footer__logo
	margin-top: -6px
	margin-bottom: 75px
	margin-right: 35px

a.block_11-footer__website
	margin-right: 40px
	letter-spacing: 0.12px
	color: #fff
	opacity: 0.2

.block_11-footer__social
	margin-left: 80px
	margin-top: 17px
	margin-bottom: 48px
	opacity: 0.2
	width: 173px








	
.block_11-footer__window__575px-1
		background-color: #000
		margin-top: 194px
		margin-left: -15px
		padding-left: 20px
		position: relative
		z-index: 2
		display: none
		& a
			color: #fff
		&
			.block_11-footer__triangle
 			margin-top: 0
				font-size: 10px
				margin-left: 0

			.block_11-footer__link-column-1
				margin-left: 0
				margin-top: 0
				font-size: 10px

			.block_11-footer__link-column-2
				margin-left: 0
				margin-top: 0
				font-size: 10px

			.block_11-footer__link-column-3
				margin-left: 0
				margin-top: 0
				font-size: 10px







.block_11-footer__window__575px-2
	 background-color: #000
		margin-left: -15px
		position: relative
		z-index: 2
		display: none 
		&
			.block_11-footer__made-by
				margin-right: 35px
				margin-top: 0
				color: #fff
				opacity: 0.2
				letter-spacing: 1.1px
				font-size: 0.9166666667em

			.block_11-footer__logo
				margin-top: -6px
				margin-bottom: 0
				margin-right: 35px

			a.block_11-footer__website
				letter-spacing: 0.12px
				color: #fff
				opacity: 0.2
				margin-right: 0

			.block_11-footer__social
				margin-top: 17px
				margin-bottom: 48px
				opacity: 0.2
				width: 173px









@media screen and (max-width: 1295px)
  .block_11-footer__bg
				height: 809px

@media screen and (max-width: 1186px)
  .block_11-footer__title
				text-align: center
				line-height: 100px

@media screen and (max-width: 991px)
  .block_11-footer__title
				font-size: 6.5em
				line-height: 100px

		.block_11-footer__window
			position: absolute
			bottom: 0
			width: 100%
			max-width: 989px
			margin-left: -17px

@media screen and (max-width: 861px)
	.block_11-footer__title
		margin-top: 60px
		font-size: 6.5vw
		line-height: 80px

	.block_11-footer__social
		 margin-left: 50px

@media screen and (max-width: 761px)
	.block_11-footer__social
		 margin-left: 0

@media screen and (max-width: 706px)
 .block_11-footer__link-column-1, .block_11-footer__link-column-2, .block_11-footer__link-column-3
	 font-size: 10px

@media screen and (max-width: 639px)
 .block_11-footer__link-column-1, .block_11-footer__link-column-2, .block_11-footer__link-column-3
	 font-size: 8px
	
	.block_11-footer__title
		margin-top: 30px
		font-size: 6.5vw
		line-height: 60px

@media screen and (max-width: 575px)
	 .block_11-footer__window__wide
	  display: none

		.block_11-footer__window__575px-1, .block_11-footer__window__575px-2
	  display: flex



	