.block_3-text
	padding-top: 120px
	padding-bottom: 46px
	background-color: #fff
	
.block_3-text span
 font-size: 6em
	font-weight: 100
	line-height: 59px
	margin-bottom: 55px
	display: block
	

.block_3-text > div > div :nth-child(2)
 font-size: 1.5em
	line-height: 26px
	font-weight: 300