/* ==============================
 *        BLOCK 5 - iPad
 * ============================== */

.block_5-ipad
	height: 1006px
	max-width: 1600px

.block_5-ipad__window
	background-color: #000
	height: 750px
 width: 86%
	margin-left: 110px
	padding-left: 118px
	padding-top: 118px
	position: relative

.block_5-ipad__title
	color: #fff
	font-weight: 100
	font-size: 6em
	line-height: 80px

.block_5-ipad__text
	opacity: 0.5
	color: #fff
	font-size: 1.1666666667em
	line-height: 22px
	margin-top: 40px
	margin-left: 5px


.block_5-ipad a
	margin-top: 164px
	text-align: center
	letter-spacing: 0.6px
	color: #000
	line-height: 50px
	background-color: #26e6e6
	border-radius: 25px
	width: 180px
	margin-left: 13px

.block_5-ipad img
	position: absolute
	top: 265px
 right: 0
	width: 51%