/* ==============================
 *        BLOCK 7 - Quotes
 * ============================== */

.block_7-quotes
	height: 385px
	max-width: 1600px
	background-color: #f5f6f8
	
.block_7-quotes .gallery-cell
	height: 385px
	width: 50%
 margin-right: 26px
	background-color: #fff

.block_7-quotes .gallery-cell :nth-child(1)
	position: absolute
	top: 41px
	left: 38px

.block_7-quotes .gallery-cell :nth-child(4)
	position: absolute
 bottom: 41px
	right: 38px

.block_7-quotes .gallery-cell :nth-child(2)
	margin-top: 25px
	margin-left: 10px
	font-size: 3.5em
	font-weight: 100
	line-height: 50px
	margin-bottom: 25px

.block_7-quotes .gallery-cell :nth-child(3)
	color: #000
	letter-spacing: 0.6px
	font-weight: 600

.flickity-page-dots
	display: none

.flickity-button
	display: none
