.block_8-DIY
	padding-top: 93px
	height: 1409px
	max-width: 1600px


// .block_8-DIY img
// 	position: absolute

// .block_8-DIY :nth-child(1)
// 	top: 109px
// 	left: 270px

// .block_8-DIY :nth-child(2)
// 	top: 149px
// 	left: 698px

// .block_8-DIY :nth-child(3)
// 	top: 394px
// 	right: 0

// .block_8-DIY :nth-child(4)
// 	top: 613px
// 	left: 320px

// .block_8-DIY :nth-child(5)
// 	top: 720px
// 	left: 0

// .block_8-DIY :nth-child(6)
// 	top: 867px
// 	left: 290px

// .block_8-DIY :nth-child(7)
// 	top: 887px
// 	left: 922px