/* ==============================
 *        BLOCK 9 - Join
 * ============================== */

.block_9-join
	height: 15vw
	background-color: #fff
	color: #000
	font-size: 4.5vw
	font-weight: 100
	
.block_9-join p
	margin-top: 0.8125vw
	margin-left: 0.75vw

@media screen and (max-width: 1599px)
	.block_9-join
		margin-top: 50px

@media screen and (max-width: 961px)
	.block_9-join
		border-top: 3px solid 
		border-bottom: 3px solid #000