/* ==============================
 *             Common
 * ============================== */
body
  font-size: 12px
  font-family: 'Montserrat', sans-serif
  color: #232323
		background-color: #f5f6f8

img
  height: auto

a
		color: #232323

a :active
		color: #232323

a :visited
		color: #232323

a :hover
		color: #232323

.uppercase
  text-transform: uppercase

.outline
  outline: 0